.photos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    gap: 20px;
    align-self: baseline;
}

.photo {
    display: flex;
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(145, 145, 145, 0.6);
    transition: 0.2s;
}

.photo:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 5px 5px 0px rgba(82, 82, 82, 0.6);
}