.closeButton {
    opacity: 0.5;
    position: absolute;
    left: 25px;
    top: 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    padding-left: 20px;
    height: 100vh;
    position: relative;


    .photoWrapper {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    .description {
        display: flex;
        flex-direction: column;
        span {
            font-weight: 800;
        }
    }


}